:root {
  --blue-100: hsl(205 87% 94%);
  --blue-200: hsl(207 89% 86%);
  --gray-300: hsl(0 0% 60%);
  --gray-500: hsl(0 0% 40%);
  --gray-900: hsl(0 0% 24%);
}

body {
  font-family: Calibri, sans-serif;
  font-size: 14px;
  color: var(--gray-900);
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 22px;
  margin-block-end: 0.75em;
}

h3 {
  font-size: inherit;
}

section {
  padding-inline: 1rem;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block: 0;
}

/* Layout */

.container {
  display: grid;
  grid-template-areas:
    "contact me"
    "contact about"
    "skill experience"
    "skill project"
    "language education";
  grid-template-columns: 1fr 2fr;
  /* grid-template-rows: auto auto 1fr 1fr auto; */
}

.me-section {
  grid-area: me;
}

.about-section {
  grid-area: about;
}

.experience-section {
  grid-area: experience;
}

.project-section {
  grid-area: project;
}

.education-section {
  grid-area: education;
}

.contact-section {
  grid-area: contact;
}

.skill-section {
  grid-area: skill;
}

.language-section {
  grid-area: language;
}

.me-section {
  padding-block-start: 0.5in;
  padding-inline-end: 0.5in;
}

.about-section,
.experience-section,
.project-section,
.education-section {
  padding-inline-end: 0.5in;
}

.skill-section,
.language-section {
  padding-inline-start: 0.5in;
}

.language-section,
.education-section {
  padding-block-end: 0.5in;
}

/* Hide things not needed */

.designation {
  display: none;
}

.about-section > h2 {
  display: none;
}

.profile-picture {
  display: none;
}

.contact-section > h2 {
  display: none;
}

/* Styling */

.me-section {
  padding-block-end: 0;
  background-color: var(--blue-100);
}

.about-section {
  padding-block-start: 0;
  background-color: var(--blue-100);
}

.contact-section {
  background-color: var(--blue-200);
  padding: 0.5in 8px 8px 0.5in;
}

.skill-section {
  background-color: var(--blue-100);
}

.skill-section,
.experience-section,
.project-section {
  padding-block-start: 1.25rem;
}

.language-section {
  background-color: var(--blue-100);
}

.contact-section a,
.project-section a {
  text-decoration: none;
  color: inherit;
}

.contact {
  position: relative;
  padding-block: 0.15em;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

.contact > img {
  height: 12px;
  aspect-ratio: 1;
  /* display: none; */
}

.contact.location {
  display: none;
}

.skill-section > ul {
  list-style: disc;
  padding-inline-start: 1.5em;
}

.skill-section > ul > li {
  margin-block: 0.5em;
}

/* .language-section > ul {
  display: flex;
}

.language-section > ul > li {
  padding-inline: 1rem;
}

.language-section > ul > li:first-child {
  padding-inline-start: 0;
}

.language-section > ul > li + li {
  border-inline-start: 1px solid var(--gray-300);
} */

.company-header {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-columns: min-content;
  align-items: center;
  margin-block: 0.5rem;
}

.company-name {
  padding-inline-end: 1rem;
}

.company-position {
  border-inline-start: 1px solid var(--gray-300);
  padding-inline-start: 1rem;
}

.company-duration {
  font-size: 14px;
  color: var(--gray-500);
}

.company-responsibility {
  list-style: disc;
  padding-inline-start: 1.5em;
}

.project {
  margin-block: 1rem;
}

.project-header {
  margin-block: 0.5em;
}

.project-header > a {
  font-size: 13px;
  color: var(--gray-500);
}
/* 
.education-header {
  display: flex;
  align-items: center;
}

.education-degree {
  padding-inline-end: 1rem;
}

.education-yop,
.education-score {
  border-inline-start: 1px solid var(--gray-300);
  padding-inline: 1rem;
} */

.education-yop {
  display: block;
  font-size: 14px;
  color: var(--gray-500);
}
